# MkDocs Build Output
/site/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env/
.venv/

# Editor / IDE
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
